@import './styles/pills.scss';
@import './styles/header.scss';
@import './styles/buttons-guards.scss';
@import './styles/util.scss';
@import './styles/forms.scss';

html {
  height: 100vh;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Cabin', Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: mintcream;
  color: rgb(60,60,60);
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows:4% 96%;
}

.dblndapp {
  grid-row: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90% 10%;
}

.frame {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  background-color: gainsboro;
  padding: 5px;
  overflow: auto;
  &.experimenterstyle {
    background-color: rgb(206, 239, 250);
  }
  &.helperstyle {
    background-color: rgb(248, 201, 170);
  }
  &.helperexperimenter {
    background-image: linear-gradient(to bottom right, rgb(248, 201, 170), rgb(206, 239, 250));
  }
  &.experimenterhelper {
    background-image: linear-gradient(to bottom right, rgb(206, 239, 250), rgb(248, 201, 170));
  }
}

.stepButton {
  margin: 0rem 1rem;
  font-size: 2rem;
  padding: 0.25rem 1rem;
}

h1, h2, h3, h4 ,h5, h6 {
  font-family: 'Roboto Condensed', Sans-Serif;
  color:rgb(40, 40, 40);
}

button {
  font-family: 'Cabin', Sans-Serif;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.15rem;
}

h3 {
  font-size: 1.55rem;
  line-height: 1.5rem;
}

p {
  Font-Size: 1.1rem;
  line-height: 2rem;
  padding-left: 1rem;
}

em {
  font-style: normal;
  font-weight: 700;
}

@media only screen and (min-width: 1000px) {
  #root {
    width: 1000px;
    position:relative;
    margin: auto;
  }
}
